.head-logo::before {
  content: '';
  z-index: -10;
  left: 0;
  bottom: -4px;
  position: absolute;
  width: 50%;
  height: 90px;
  background-color: white;
  transform: skewY(9deg);
  border-bottom-left-radius: 2.5rem;
}

.head-logo::after {
  content: '';
  z-index: -10;
  right: 0;
  bottom: -4px;
  position: absolute;
  width: calc(50% + 1px);
  height: 90px;
  background-color: white;
  transform: skewY(-9deg);
  border-bottom-right-radius: 2.5rem;
}
